*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.main-container{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: rgb(227, 227, 227);

    display: flex;
    
}
.grid-options{
    flex: 1 1 0;
    align-content: center;
}
.grid-container{
    flex: 2.5 1 0;
    align-content: center;
}
.grid-options-container{
    width: 250px;
    height: 60%;
    margin: auto 0 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-shrink: 0;
}
.color-picker{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    flex-shrink: 0;
    border: 1px solid black;
    cursor: pointer;
    
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
input[type="color"] {
    -webkit-appearance: none;
    border: none;
}
input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}
input[type="color"]::-webkit-color-swatch {
    border: none;
}

.button{
    padding: 15px;
    width: 150px;
}
.grid{
    width: 700px;
    height: 700px;
    margin: auto;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;

    display: flex;
    flex-flow: wrap column;
}
.grid-size-text{
    text-align: center;
}
